body {
  background-image: url("../img/background.png");
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1%;
}

section {
  position: relative;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-canvas {

  /* border: 1px solid white; */

 margin-top: 50px;
 /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.sArrows {
  display: none;
}

 .source {
    left: -50px;
  }

  .source img {
	width: 50px;
	height: 50px;
  }
  
/* score box */
.score-health {
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 650px;
}

#score {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;

}

#health {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
 
}

#myhealth {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.hit-miss {
  display: flex ;
  height: 50px;
  margin-left: 25px;
}
.great {
  z-index: 5;
  margin-left: 30px;
  color: #67FCF1;
  font-size: 60px;
  font-weight: bolder;
}
.bad {
   z-index: 5;
   margin-left: 30px;
  color: red;
  font-size: 60px;
  font-weight: bolder;

}
.title {
  display: none;
}

/* modals */
p {
  margin-top: -10px;
    margin-block-start: 1em;
    margin-block-end: 1em;    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#lastModal {
	display: none;
}


#lastModal2 {
	display: none;
}

.startModal {
  display: none;
}

.mdirections {
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 80%;
    padding: 8% 4%;
    border: 3px solid white;
    border-radius: 4pxx;
    background-color: black;
    z-index: 10;
}
.mdirections2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 80%;
    padding: 8% 4%;
    border: 3px solid white;
    border-radius: 4pxx;
    background-color: black;
    z-index: 10;
}

#startModal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: fixed;
  left: calc(50vw - 150px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 8px;
}

#lastmodal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: fixed;
  top: calc(50vh - 175px);
  left: calc(50vw - 150px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 8px;

}


#lastModal2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: fixed;
  top: calc(50vh - 175px);
  left: calc(50vw - 150px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 8px;
}

#directionModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: calc(50vw - 150px);
  color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 8px;
}


#startModal > h2 {
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
  font: bold;
  border-bottom: 3px solid white;
  text-align: center;
 
}

.startbuttonflex {
  display: flex;
  justify-content: center;
  width: 100%;

}


#directionModal > h2 {
  font-size: 30px;
  font-weight: bold;
  color: red;
  font: bold;
  text-align: center;
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}

#directionModal ul {
  padding-inline-start: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
   color: white;
  list-style-type: none;
}

#directionModal li {
  font-size: 20px;
  padding: 10px;
}

#firstModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}
.mdirections > h2 {
  font-size: 30px;
   font-family: Tahoma, sans-serif;
  color: red;
  margin-bottom: 20px;
}

.buttonflex {
display: flex;
width: 325px;
justify-content: center;
padding-top: 10px;
}
button {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 2px;
}

button:hover {
  background-color: gray;
} 

.controls {
  top: 15px;
  right: -75px;
  display: flex;
  flex-direction: column;
}

.controls img {
  border-radius: 50%;
  background-color: white;
  width: 45px;
  height: 45px;
  margin: 5px 0;
  border: 1px solid white;
  cursor: pointer;
}

/* .displayButtons  {
  border-radius:;
} */